{{ template "base" . }}

{{define "title"}} Desafiá a MegaBot - Acerca de {{end}}
{{define "content"}}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Ignacio Gómez Vega</h2>
                <p>¡Hola! Soy estudiante de la Licenciatura en Informática y estoy comenzando mis proyectos en Golang.</p>
                <p>¡Bienvenido/a a mi primer proyecto en GOLANG, basado en el juego de Piedra, Papel o Tijera!</p>
                <p>Dejo el siguiente enlace para que puedas visualizar mis otros proyectos realizados con diferentes lenguajes.</p>                
                <ul class="py-3">
                    <li><a href="www.linkedin.com/in/ignacio-gomez-vega" target="_blank">Linkedin</a></li></ul>
            </div>
        </div>
    </div>
</section>

{{end}}
